.page {
  display: none;
  width: 100%;
  max-width: 500px;
  margin: auto;
  padding: 2em;

  &.open {
    display: block;
  }
}

.allow {
  position: fixed;
  display: none;
  right: 0;
  padding-right: 3em;
}
